EntityFrameWork/.vs
EntityFrameWork/Vehicles.Database/obj
014 - EntityFrameworkSamples/Samplme01/Vehicles.ConsoleApp/bin/Debug/net8.0
014 - EntityFrameworkSamples/Samplme01/Vehicles.ConsoleApp/obj/Debug/net8.0
014 - EntityFrameworkSamples/Samplme01/Vehicles.ConsoleApp/obj
014 - EntityFrameworkSamples/Samplme01/.vs
014 - EntityFrameworkSamples/Samplme01/Vehicles.Database/obj
